[Unit]
Description=Jupyterhub
After=network.target firewalld.service

[Service]
User=jupyterhub
Environment='PYTHONPATH=/etc/jupyterhub'
ExecStart=/usr/local/bin/jupyterhub
WorkingDirectory=/etc/jupyterhub

[Install]
WantedBy=multi-user.target
